In [1]:
import pandas as pd

In [2]:
noahs_customers = pd.read_csv("../noahs-customers.csv")

noahs_orders_items = pd.read_csv("../noahs-orders_items.csv")

noahs_orders = pd.read_csv("../noahs-orders.csv")

noahs_products = pd.read_csv("../noahs-products.csv")

In [3]:
noahs_customers_area = noahs_customers["citystatezip"].str.split(", ")

noahs_customers["area"] = noahs_customers_area.apply(lambda a: a[0])

noahs_customers.head()

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long,area
0,1001,Jacqueline Alvarez,105N Elizabeth St,"Manhattan, NY 10013",1958-01-23,315-377-5031,America/New_York,40.71817,-73.997468,Manhattan
1,1002,Julie Howell,185-1 Linden St,"Brooklyn, NY 11221",1956-12-03,680-537-8725,America/New_York,40.69426,-73.921670,Brooklyn
2,1003,Christopher Ali,174-28 Baisley Blvd,"Jamaica, NY 11434",2001-09-20,315-846-6054,America/New_York,40.68902,-73.773470,Jamaica
3,1004,Christopher Rodriguez,102 Mount Hope Pl,"Bronx, NY 10453",1959-07-10,516-275-2292,America/New_York,40.84939,-73.909160,Bronx
4,1005,Jeffrey Wilkinson,17 St Marks Pl,"Manhattan, NY 10003",1988-09-08,838-830-6960,America/New_York,40.72804,-73.987120,Manhattan

In [5]:
noahs_customers = noahs_customers[["customerid", "phone", "area"]]

noahs_customers = noahs_customers[noahs_customers["area"] == "Staten Island"]

noahs_customers.head()

     customerid         phone           area
19         1020  914-349-9960  Staten Island
53         1054  929-715-7490  Staten Island
56         1057  607-982-1214  Staten Island
78         1079  631-961-3677  Staten Island
159        1160  516-338-3885  Staten Island

In [6]:
noahs_orders = noahs_orders[["orderid", "customerid"]]

noahs_customers_and_orders = pd.merge(noahs_customers, noahs_orders, how="inner", on="customerid")

noahs_customers_and_orders.columns

Index(['customerid', 'phone', 'area', 'orderid'], dtype='object')

In [7]:
noahs_products = noahs_products[["sku", "desc"]]

noahs_orders_items = noahs_orders_items[["orderid", "sku", "qty"]]

noahs_products_orders = pd.merge(noahs_products, noahs_orders_items, how="inner", on="sku")

noahs_products_orders.columns

Index(['sku', 'desc', 'orderid', 'qty'], dtype='object')

In [8]:
noahs_combined_data = pd.merge(noahs_customers_and_orders, noahs_products_orders, how="inner", on="orderid")

noahs_combined_data_cats = noahs_combined_data[noahs_combined_data['desc'].str.contains("Cat", case=False)]

In [13]:
result = noahs_combined_data_cats[noahs_combined_data_cats["qty"] > 1].sort_values(by="qty", ascending=False)

result.iloc[0]["phone"]

'631-507-6048'